[Desktop Entry]
Name=Способы рассуждения Den_3
Comment=Сравнение способов рассуждения LLM
Exec=/home/u/Документы/111111/Обучение_Курсы/Основной_репозиторий/AI_9/Nedela_1/den_03/run_den3.sh
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Development;
